.alert{
    margin-bottom: 5px;
    border-radius: 15px;
    
    p{
        margin: 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &.item{
        cursor: pointer;
    }

    &.alert-outline{
        border: solid 1px rgba($color: theme-color("secondary"), $alpha: .2);
    }

    &.loading{
        height: 50px;
        border-radius: 10px;
    }
    
}

@each $color, $value in $theme-colors {
    .alert-#{$color} {
        border : none;
        color: darken($color: $value, $amount: 10%);
        background: rgba($value, .15);
        padding: 20px;
        
        p{
            color: darken($color: $value, $amount: 10%);
        }
    }
}
