.icofont{
    @each $color, $value in $theme-colors {
        &.text-#{$color} {
            transition: all .25s ease;

            &.shadow{
                text-shadow: 0 0 5px rgba($value, .30);
                margin: 10px 0;
                background: rgba($value, .30);
                box-shadow: 0 0 0 10px rgba($value, .10),
                0 0 15px 20px rgba($value, .10) !important;
                transition: all .25s ease;
            }

        }
    }
}

@each $color, $value in $theme-colors {
    &.dashed-#{$color} {
        border: dashed 2px $value;
    }
}

