.login-container{
    position: relative;
    width: 100%;
    height: 100vh;
    
    .login-content{
        height: 100vh;
        padding: 20vh 0;
        
        .greating{
            font-family: 'Fredoka One', cursive;
            display: block;
            text-align: center;
        }
        
        .form-login{
            margin: 0 auto;
            
            .forgot-password{
                padding : 0 15px;
                width: 100%;
                text-align: right; 
                display: block;
            }
            
            .google-sign-in{
                width: 210px;
                height: 50px;
                margin: 0 auto;
                display: block;
                
                img{
                    height: 50px;
                    width: 210px;
                }
            }
            
            .login-sparator{
                display: block;
                width: calc(100% - 30px);
                margin: 25px 15px;
                border-bottom: solid 1px rgba(theme-color("secondary"), .1);
                position: relative;
                &:after{
                    content : "or login with email";
                    position: absolute;
                    display: block;
                    width: 120px;
                    text-align: center;
                    font-size: 12px;
                    top: -9px;
                    background: #fff;
                    color: rgba(theme-color("secondary"), .5);
                    margin: 0 calc((100% - 120px)/ 2);
                    
                }
                
            }
        }
    }
    
    
}