#gateway-sparator{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition : all .25s cubic-bezier(.06,.72,.71,.32);
    clip-path: inset(0 calc((100% / 12 ) * 8 ) 0 0);

    &.right{
        clip-path: inset(0 0 0 calc((100% / 12 ) * 8 ));

        .login-container{
            #login-area{
                right: 0px;
            }

            #signup-area{
                left: -50%;
            }
        }
    }

    .login-container{
        position: absolute;
        width: 100vw;
        height: 100vh;

        #login-area{
            right: -50%;
            transition : all .15s ease-in-out;
        }

        #signup-area{
            left: 0;
            transition : all .15s ease-in-out;
        }

        #signup-area,
        #login-area{
            position: absolute;
            top: 0;
            bottom: 0;
        
            .login-content{
                height: 100vh;
                padding: 20vh 0;
                
                .greating{
                    font-family: 'Fredoka One', cursive;
                    display: block;
                    text-align: center;
                }
                
                .form-login{
                    margin: 0 auto;
                    
                    .forgot-password{
                        padding : 0 15px;
                        width: 100%;
                        text-align: right; 
                        display: block;
                    }
                    
                    .google-sign-in{
                        width: 210px;
                        height: 50px;
                        margin: 0 auto;
                        display: block;
                        
                        img{
                            height: 50px;
                            width: 210px;
                        }
                    }

                    button{
                        font-size: 12px;
                        border: none;
                        padding : 10px 50px;
                    }
                    
                    .sparator{
                        display: block;
                        width: calc(100% - 30px);
                        margin: 25px 15px;
                        border-bottom: solid 1px rgba(theme-color("secondary"), .1);
                        position: relative;
                        &:after{
                            position: absolute;
                            display: block;
                            width: 120px;
                            text-align: center;
                            font-size: 12px;
                            top: -9px;
                            background: #fff;
                            color: rgba(theme-color("secondary"), .5);
                            margin: 0 calc((100% - 120px)/ 2);
                        }

                        &.login{
                            &:after{
                                content : "or login with email";
                            }
                        }

                        &.sign-up{
                            &:after{
                                content : "or signup with email";
                            }
                        }
                    }

                    .signup-text{
                        text-align: center;
                        margin: 50px 0;
                        width: 100%;

                        .change-page{
                            cursor: pointer;
                        }
                    }
                    
                }
            }

        }
        
        
    }

}

.login-bg{
    background-image: url(../images/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}