#map{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
}

.add-maps{
    max-width: 100vw !important;
    margin: 0 !important;
}

#map-detail{
    position: absolute;
    height: 100%;
} 