.t-div{
    display: table;
    width: 100%;
    margin: 25px 0;

    .t-head,
    .t-foot,
    .t-row{
        display: table-row;
        transition: all .25s ease-in-out;
        cursor: pointer;

        &.loading{
            cursor: no-drop;
            .t-cell{
                span.loading{
                    height: 25px;
                    width: 80%;
                    background: rgba($color: theme-color("secondary"), $alpha: .5);
                    border-radius: 2px;
                    margin: 5px 0;
                    overflow: hidden;
                    position: relative;
                    
                    &:after{
                        top: 0;
                        content: "";
                        position: absolute;
                        width: 50%;
                        height: 15px;
                        background: #ffffff70;
                        animation: left-to-right 1s infinite;
                    }
                }

                p{
                    margin: 5px !important;
                }
            }
        }

        .t-cell{
            display: table-cell;
            position: relative;
            transition: all .25s ease-in-out;
            
            
        }

        &:hover{
            transform: scale(1.025); 
        }

        &.card{
            .t-cell{
                padding: 15px 10px;
                border-right: solid 1px rgba(theme-color("secondary"), .1);
                .form-group{
                    .text{
                        width: unset;
                    }
                }

                &:first-child{
                    border-radius: 10px 0 0  10px;
                }

                &:last-child{
                    border-radius: 0 10px 10px 0;
                    border-right: none;
                }

                .fas{
                    width : 15px;
                }

                .far{
                    width: 15px;
                }

                p{
                    margin: 0px;

                    .start-date {
                        top: 7.5px;
                        position: relative;

                        &:before {
                            content: "start date";
                            position: absolute;
                            top: -15px;
                            left : 0;
                            font-size: 10px;
                            color: rgba($color: theme-color("success"), $alpha: .7);
                        }
                    }

                    .end-date {
                        top: 7.5px;
                        position: relative;

                        &:before {
                            content: "end date";
                            position: absolute;
                            top: -15px;
                            right: 0;
                            font-size: 10px;
                            color: rgba($color: theme-color("danger"), $alpha: .7);
                        }
                    }
                }

                .moreaction {
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    background: #444;
                    top: 34px;
                    right: 45px;
                    overflow: hidden; 
                    border-radius: 10px;
                    box-shadow: 1px 1px 15px 5px #44444430;
                    transition: all .15s ease-in-out;

                    button{
                        opacity: 0;
                        transition: all .25s ease-in-out;
                    }

                    &.active{
                        width: 170px;
                        height: 40px;
                        top : 14px;

                        button{
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &.selected{
            .t-cell{
                background: rgba($color: theme-color("info"), $alpha: .175) !important;
                border-right: solid 1px rgba(147,222,255,0.35);
            }
        }
    }

    .t-head{
        display: table-header-group;

        &.selected{
            .t-cell{
                background: none !important;
            }
        }
    }

}

@keyframes left-to-right{
    0%{
        opacity: 0;
        left: -100%;
    }

    2%{
        opacity: 1;
        left: -100%;
    }
    99%{
        opacity: 1;
        left: 100%;
    }
    100%{
        opacity: 0;
        left: -100%;
    }
}