.text-dark{
    color: #212121;
}

.text-normal{
    color: #3D425E;
}

.font-800{
    font-weight: 800;
}

.text-white{
    color: #fff;
}

.text-12{
    font-size: 12px;
}

.title-bold{ 
    font-weight: bold;
}

.text-loading{
    margin-right: 15px;
    position: relative;
    &:after{
        content: "";
        position: absolute;
        right: -22px;
        animation: loading-text 1s infinite;
        width: 20px;
        text-align: left;
    }
}

@each $color, $value in $theme-colors {
    .text-sign-#{$color} {
        margin: 5px 10px;

        &:before{
            content: "";
            display: inline-block;
            margin-right: 10px;
            position: relative;
            width: 10px;
            height: 10px;
            background: $value;
            border-radius: 100px;
        }
    }
}

@keyframes loading-text {
    0%{
        content: "";
    }
    25%{
        content: "."
    }
    50%{
        content: ".."
    }
    75%{
        content: "..."
    }
    100%{
        content: "."
    }
}