@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$blue:    #0a4a8f !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$theme-colors: (
    // "primary":    #0074e4,
    // "primary":    #614ad3,
    "primary" :   #116BFE,
    "secondary":  #b0b0b0 ,
    "success":    #00bd56,
    "info":       #93deff,
    "warning":    #ffd933,
    "danger":     #f30e5c,
    "white":     #ffffff,
    "light":      $light,
    "dark":       $dark
);

$dark-color : #0F141A;

@import "../../node_modules/bootstrap/scss/bootstrap";

*{
    outline : 0;
    color: #444444
}

body {
    // font-family: 'Questrial', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background : #f7f7f7;
    // background: #0F141A;
}

.margin-tb-30x{
    margin: 30px 0;
}

.mb-30{
    margin-bottom: 30px;
}
.margin-left{
    margin-left:30px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-25{
    margin: -25px 0 25px;
}

.no-margin{
    margin: 0;
} 

.no-padding-lr{
    padding-left: 0px;
    padding-right: 0px;
}

.no-padding{
    padding: 0px;
}

.body-container{
    padding-top: 100px;
    min-height: 100vh;
    transition: all .25s ease-in-out;
    overflow: hidden;
}

.text-12{
    font-size: 12px;
}

.chart{
    padding-top: 50px;
}

.title-bold{
    font-weight: bold;
}

.top-notif{
    font-size: 13px;
    i{
        margin-right: 10px;
    }
}

.notifcation-bell{
    transition: all .5s ease;

    i{
        transition: all .5s ease;
        font-size: 20px;
    }
    &:hover{
        transform: rotate(-45deg);

        & i{
            color: darken($secondary, 25%) !important;
        }
    }
}

.promo-section{
    background-image: url(https://image.freepik.com/free-vector/paper-art-background_79603-10.jpg);
    background-size: cover;
    // background-position-y: center;
    color: #fff;

    .card-item-title {
        color: #fff;
    }
}

.font-800{
    font-weight: 800;
}

.footer-main{
    margin-top: 100px;
}

.text-white{
    color: #fff;
}

@import "_navbar";
@import "_card";
@import "_dropdown";
@import "_button";
@import "_badge";
@import "_icon";
@import "_form";
@import "_preloading";

@each $color, $value in $theme-colors {
    &.bg-#{$color} {
        background:$value;
    }
}

.page-title{
    letter-spacing: -1px;
    margin-bottom: 2rem;
}


